.greentext {
    color: darkseagreen;
}
.bluetext {
    color: cornflowerblue;
}
.purpletext {
    color: royalblue;
}
.redtext {
    color: red;
}
.supergreentext {
    color: green;
}
.orangetext {
    color: coral;
}